@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(0, 217, 255, 0.2);
}

.login{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
    margin-top: 100px;
    min-width: 400px;
}

.login a {
    text-decoration: none;
    color: black;
}

.login a:hover{
    color: #8a2be2;
}

.login a:active{
    color: #bc75ff;
}

.custom-shape-divider-bottom-1671031241 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1671031241 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 60px;
}

.custom-shape-divider-bottom-1671031241 .shape-fill {
    fill: rgb(0, 68, 255);
}

.form-floating{
    max-width: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title h1{
    font-size: 60px;
}

.navbar {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: left;
    justify-content: left;
    width: 100%;
    height: 42px;
    background: rgb(0, 68, 255);
    color: #f9f9f9;
    box-sizing: border-box;
}

.navbar-tittle {
    margin: 0;
    margin-left: 50px;
    font-size: 16px;
    transition: 0.3s;
}

@media only screen and (min-width: 576px) {
    .navbar-tittle {
        margin-left: 100px;
        transition: 0.3s;
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: -20px;
    height: 50px;
    width: 100%;
    background-size: cover;
    text-align: center;
    color: white;
}

footer p{
    font-size: 15px;
}

footer p a{
    font-size: 15px;
    text-decoration: none;
    color: white;
}

footer p a:hover{
    color: rgb(192, 192, 192);
}

.todo{
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.todo-h1{
    font-size: 80px;
    justify-content: center;
    text-align: center;
    transition: 0.3s;
}

.todo-h2{
    font-size: 60px;
    justify-content: center;
    text-align: center;
    transition: 0.3s;
}

.list-group{
    width: 500px;
    padding: 10px;
    transition: 0.3s;
    margin-left: 100px;
    float: left;
    justify-content: center;
    text-align: center;
}

.list-group-item{
    height: auto;
}

.list-group-item active{
    height: 100px;
}

@media only screen and (max-width: 576px) {
    .list-group {
        width: 300px;
        padding: 40px;
        transition: 0.3s;
    }
    .list-group-item{
        height: auto;
    }
    .list-group-item active{
        height: 100px;
    }
}

.input-group{
    max-width: 400px;
    transition: 0.3s;
}

@media only screen and (min-width: 576px) {
    .input-group {
        max-width: 560px;
        transition: 0.3s;
    }
}

.navbar-menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    translate: -100% 0;
    width: 200px;
    height: 100%;
    padding: 20px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    background: #121212;
    visibility: hidden;
    transition: 0.3s;
}

.navbar-tittle-hey {
    margin: 0;
    margin-left: 100px;
    font-size: 16px;
    transition: 0.3s;
}

.logout{
    margin-top: 50px;
    justify-content: center;
    text-align: center;
}

.buttons{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: list-item;
    margin-bottom: 100px;
    margin-top: 100px;
    transition: 0.3s;
}
